<div class="wrapper"
     fxLayout="row" fxLayout.lt-md="column"
     fxLayoutAlign="space-between start"
     fxLayoutAlign.lt-md="start start" fxLayoutGap.md="5% grid">
  <div fxFlex="50" fxLayout="column">
    <div>
      <h1>Nächste Treffen</h1>
      <div fxLayout="column" fxLayoutAlign="space-between start" style="width: 80%;">
        <mat-card (click)="showMeeting(event)" *ngFor="let event of upcomingEvents" fxFill ngStyle.lt-md="width: 85%;">
          <mat-card-title ngStyle.lt-sm="font-size: 120%;"
                          style="font-size: 140%;">{{event.dateString}}</mat-card-title>
        </mat-card>
      </div>
    </div>
    <div>
      <h1>Nächste Abwesenheiten</h1>
      <div fxLayout="column" fxLayoutAlign="space-between start" style="width: 80%;">
        <mat-card (click)="showAbsence(absence)" *ngFor="let absence of upcomingAbsences" fxFill ngStyle.lt-md="width: 85%;">
          <mat-card-title ngStyle.lt-sm="font-size: 120%;"
                          style="font-size: 140%;">{{absence.dateString}}</mat-card-title>
        </mat-card>
      </div>
    </div>
  </div>
  <div fxFlex="50">
    <h1>Planung</h1>
    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-calendar #calendar fxFlex="70" fxFlex.lt-md="90"></mat-calendar>
    </div>
  </div>
</div>
