<h1 mat-dialog-title>Planen</h1>
<div mat-dialog-content style="overflow: visible">
  <mat-button-toggle-group>
    <mat-button-toggle value="event" (click)="setType(true)" checked>
      Event
    </mat-button-toggle>
    <mat-button-toggle value="absence" (click)="setType(false)">
      Abwesenheit
    </mat-button-toggle>
  </mat-button-toggle-group>
  <div *ngIf="isEvent" style="width: 100%; padding-top: 10px;">
    <form fxLayout="column" fxLayoutAlign="space-between start">
      <mat-form-field fxFill>
        <mat-label>Von</mat-label>
        <mat-datetimepicker-toggle [for]="datepickerStartdate" matSuffix></mat-datetimepicker-toggle>
        <mat-datetimepicker #datepickerStartdate type="datetime" openOnFocus="true"
                            timeInterval="5"></mat-datetimepicker>
        <input matInput [matDatetimepicker]="datepickerStartdate" name="startDateTime" [(ngModel)]="event.startDate">
      </mat-form-field>
      <mat-form-field fxFill>
        <mat-label>Bis</mat-label>
        <mat-datetimepicker-toggle [for]="datepickerEnddate" matSuffix></mat-datetimepicker-toggle>
        <mat-datetimepicker #datepickerEnddate type="datetime" openOnFocus="true" timeInterval="5"></mat-datetimepicker>
        <input matInput [matDatetimepicker]="datepickerEnddate" name="endDateTime" [(ngModel)]="event.endDate">
      </mat-form-field>
      <mat-form-field fxFill>
        <mat-label>Ort</mat-label>
        <input matInput name="location" [(ngModel)]="event.location">
      </mat-form-field>
      <mat-form-field fxFill>
        <mat-label>Anreise</mat-label>
        <input matInput name="travel" [(ngModel)]="event.travel">
      </mat-form-field>
    </form>
  </div>
  <div *ngIf="!isEvent" style="width: 100%; padding-top: 10px;">
    <form fxLayout="column" fxLayoutAlign="space-between start">
      <mat-form-field fxFill>
        <mat-label>Von</mat-label>
        <mat-datetimepicker-toggle [for]="datepickerAbsenceStartdate" matSuffix></mat-datetimepicker-toggle>
        <mat-datetimepicker #datepickerAbsenceStartdate type="datetime" openOnFocus="true"
                            timeInterval="5"></mat-datetimepicker>
        <input matInput [matDatetimepicker]="datepickerAbsenceStartdate" name="absenceStartDateTime"
               [(ngModel)]="absence.startDate">
      </mat-form-field>
      <mat-form-field fxFill>
        <mat-label>Bis</mat-label>
        <mat-datetimepicker-toggle [for]="datepickerAbsenceEnddate" matSuffix></mat-datetimepicker-toggle>
        <mat-datetimepicker #datepickerAbsenceEnddate type="datetime" openOnFocus="true"
                            timeInterval="5"></mat-datetimepicker>
        <input matInput [matDatetimepicker]="datepickerAbsenceEnddate" name="absenceEndDateTime"
               [(ngModel)]="absence.endDate">
      </mat-form-field>
      <mat-form-field fxFill>
        <mat-label>Abwesenheitsgrund</mat-label>
        <input matInput name="absenceReason" [(ngModel)]="absence.absenceReason">
      </mat-form-field>
    </form>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button (click)="onNoClick()">Close</button>
    <button mat-raised-button color="primary" (click)="onSaveClick()">Save</button>
  </div>
</div>
