<h1 mat-dialog-title>Planen</h1>
<div mat-dialog-content style="overflow: visible">
  <mat-button-toggle-group>
    <mat-button-toggle (click)="setType(true)" [class.mat-button-toggle-checked]="isEvent" value="event">
      Event
    </mat-button-toggle>
    <mat-button-toggle (click)="setType(false)" [class.mat-button-toggle-checked]="!isEvent" value="absence">
      Abwesenheit
    </mat-button-toggle>
  </mat-button-toggle-group>
  <div *ngIf="isEvent" style="width: 100%; padding-top: 10px;">
    <form fxLayout="column" fxLayoutAlign="space-between start">
      <mat-form-field fxFill>
        <mat-label>Von</mat-label>
        <mat-datetimepicker-toggle [for]="datepickerStartdate" matSuffix></mat-datetimepicker-toggle>
        <mat-datetimepicker #datepickerStartdate openOnFocus="true" timeInterval="5"
                            type="datetime"></mat-datetimepicker>
        <input [(ngModel)]="event.startDate" [matDatetimepicker]="datepickerStartdate" matInput name="startDateTime">
      </mat-form-field>
      <mat-form-field fxFill>
        <mat-label>Bis</mat-label>
        <mat-datetimepicker-toggle [for]="datepickerEnddate" matSuffix></mat-datetimepicker-toggle>
        <mat-datetimepicker #datepickerEnddate openOnFocus="true" timeInterval="5" type="datetime"></mat-datetimepicker>
        <input [(ngModel)]="event.endDate" [matDatetimepicker]="datepickerEnddate" matInput name="endDateTime">
      </mat-form-field>
      <mat-form-field fxFill>
        <mat-label>Ort</mat-label>
        <input [(ngModel)]="event.location" matInput name="location">
      </mat-form-field>
      <mat-form-field fxFill>
        <mat-label>Anreise</mat-label>
        <input [(ngModel)]="event.travel" matInput name="travel">
      </mat-form-field>
    </form>
  </div>
  <div *ngIf="!isEvent" style="width: 100%; padding-top: 10px;">
    <form fxLayout="column" fxLayoutAlign="space-between start">
      <mat-form-field fxFill>
        <mat-label>Von</mat-label>
        <mat-datetimepicker-toggle [for]="datepickerAbsenceStartdate" matSuffix></mat-datetimepicker-toggle>
        <mat-datetimepicker #datepickerAbsenceStartdate openOnFocus="true" timeInterval="5"
                            type="datetime"></mat-datetimepicker>
        <input [(ngModel)]="absence.startDate" [matDatetimepicker]="datepickerAbsenceStartdate" matInput
               name="absenceStartDateTime">
      </mat-form-field>
      <mat-form-field fxFill>
        <mat-label>Bis</mat-label>
        <mat-datetimepicker-toggle [for]="datepickerAbsenceEnddate" matSuffix></mat-datetimepicker-toggle>
        <mat-datetimepicker #datepickerAbsenceEnddate openOnFocus="true" timeInterval="5"
                            type="datetime"></mat-datetimepicker>
        <input [(ngModel)]="absence.endDate" [matDatetimepicker]="datepickerAbsenceEnddate" matInput
               name="absenceEndDateTime">
      </mat-form-field>
      <mat-form-field fxFill>
        <mat-label>Abwesenheitsgrund</mat-label>
        <input [(ngModel)]="absence.absenceReason" matInput name="absenceReason">
      </mat-form-field>
    </form>
  </div>
  <div mat-dialog-actions>
    <button (click)="onNoClick()" mat-raised-button>Abbrechen</button>
    <button (click)="onSaveClick()" color="primary" mat-raised-button>Speichern</button>
  </div>
</div>
