.mat-datetimepicker-calendar-header {
  display: none !important;
}

mat-datetimepicker-clock {
  width: 75% !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.mat-datetimepicker-clock {
  padding-top: 95% !important;
}
